#CORE
core/**/*
vendor/**/*
sites/**/files/**/*
sites/**/contrib/**/*
sites/default/services.yml
sites/default/settings.php
sites/default/settings.local.php
libraries/**/*
sites/**/libraries/**/*
profiles/**/libraries/**/*
**/js_test_files/**/*
**/node_modules/**/*
.csslintrc
.editorconfig
.ht.router.php
.htaccess
autoload.php
composer.json
composer.lock
example.gitignore
index.php
INSTALL.txt
LICENSE.txt
README.txt
robots.txt
update.php
web.config

*.tar.gz

modules/contrib/**/*
themes/contrib/**/*
#Editors
.idea/
sites/sites.php